{% extends "base.html" %}
{% block content %}

        <div class="introduction-container">
              <h1 class="intro-title">Introduction</h1>

                    <p>
                        Healthcare organizations face increasing pressure to maintain financial stability while ensuring high-quality patient care. 
                        One of the critical challenges in revenue cycle management is claims denial, which significantly affects an organization’s financial health. 
                        Studies indicate that denied claims account for approximately <strong>5–10% of lost revenue</strong>, with the cost of appealing a single claim 
                        averaging between <strong>$25 and $117</strong> (Change Healthcare Revenue Cycle Denials Index, 2023).
                    
    If an organization appeals 100 denials per month, it may incur costs ranging from <strong>$2,500 to $11,700</strong>, 
    adding substantial administrative expenses. Beyond financial losses, claim denials contribute to operational inefficiencies, 
    disrupt cash flow, and can negatively impact patient satisfaction.
  </p>

  <p>
    This project explores how <strong>machine learning</strong> can be applied to healthcare claim data to predict whether a claim is 
    likely to be approved or denied. Medical claim denials are a significant source of revenue loss for healthcare providers, 
    often caused by errors in documentation, coding, or insurance policies.
  
    By analyzing synthetic claims data which is synthesized using faker command and training multiple machine learning models, we aim to provide a tool that can 
    predict not only the claim outcome but also identify the possible reason for denial. This assists healthcare organizations 
    in reducing claim rejections and improving their revenue cycle efficiency.
  </p>
</div>
{% endblock %}


  